#floatdiv {
  display: none;
}
#floatdiv2 {
  display: none;
}

/* if screen size gets wider than 768 */

@media screen and (min-width: 768px) {
  #floatdiv {
    display: inline-block;
  }
  #floatdiv2 {
    display: inline-block;
  }
}

.main-title-container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

.main-title {
  text-align: center;
  color: rgb(2, 111, 137);
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .main-title-container {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;

    text-align: center;
  }
  .navbar > .container .navbar-brand-centered,
  .navbar > .container-fluid .navbar-brand-centered {
    margin-left: -100px;
  }

  .maxWidth {
    width: 100%;
  }
  .navbar-brand {
    height: inherit;
  }
}

/*COLORS*/

.color-twitter {
  color: #00aced;
}
.color-facebook {
  color: #00539f;
}
.color-gmail {
  color: #dd4b39;
}

h5 {
  color: #026f89;
}

.border {
  background-color: #e7e7e7;
  border-color: #026f89;
  border-style: outset;
  overflow: hidden;
  display: block;
  color: inherit;
  text-decoration: none;
  position: relative;
  border-width: 3.3px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.white {
  background-color: #e7e7e7;
  margin-bottom: 5px;
}
